.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
   
}
.calendar-cell {
  aspect-ratio: 1 / 1;
  border: 1px solid #ccc;
  display: flex;
  
  
}

.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid black;
    background-color: white;
    margin-top: 10vh;
  }


  